.container {
    width: 100%;
    height: 100vh;
    /* Ocupa toda la altura de la ventana */
    position: relative;
    overflow: hidden;
}

/* 
  Aseguramos que el mapa tenga un z-index menor que el sidebar (1500) 
  y el botón de ayuda (90).
*/
.mapWrapper {
    width: 100%;
    height: 100%;
    z-index: 0;
}